@using HtmlAgilityPack;
@using System.Data.Entity;
@model Sadrnejad.com.Models.Post

@{
    ViewBag.Title = Model.Title;
}

<section id="blogbanner">
    <div>
        @{
            HtmlDocument articleHtml = new HtmlDocument();
            articleHtml.LoadHtml(Model.Article);
            var imgHtmlNodes = articleHtml.DocumentNode.SelectNodes("//img");
            if (imgHtmlNodes != null)
            {
                <div class="center" style="height:250px; background:url(@imgHtmlNodes[0].GetAttributeValue("src", " ")) center; background-size:cover;">
                    <br />
                    <h1>@ViewBag.Title</h1>
                </div>
            }
        }

    </div>
</section><!--/banner-->
<section id="blog" class="container">
    <div>
        @if (Roles.IsUserInRole("Admin"))
            {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            </p>
        }
        <p> @Html.ActionLink("Back to stories", "Index") </p>
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 text-center">
                            <div class="entry-meta">
                                <span id="category_Title">Category</span>
                                <span><i class="fa fa-comment"></i> @Html.DisplayFor(modelItem => Model.Categories.Title)</a></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-10 blog-content">
                            <h3>@Html.DisplayFor(model => model.ShortDescription)</h3>
                            <p>@Html.Raw(Model.Article)</p>
                            <div class="post-tags">
                                <strong>Tag:</strong> <a href="#">Cool</a> / <a href="#">Creative</a> / <a href="#">Dubttstep</a>
                            </div>
                            <div>
                                @Html.DisplayNameFor(model => model.Published)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Published)
                            </div>
                            <div>
                                @Html.DisplayNameFor(model => model.PostedOn)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.PostedOn)
                            </div>
                            <div>
                                @Html.DisplayNameFor(model => model.Modified)
                            </div>
                            <div>
                                @Html.DisplayFor(model => model.Modified)
                            </div>
                        </div>
                    </div>
                </div><!--/.blog-item-->
            </div><!--/.col-md-8-->
            <aside class="col-md-4">
                <div class="widget tags">
                    <h3>Tag Cloud</h3>
                    <ul class="tag-cloud">
                        <li><a class="btn btn-xs btn-primary" href="#">Apple</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Barcelona</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Office</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Ipod</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Stock</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Race</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">London</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Football</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Porche</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Gadgets</a></li>
                    </ul>
                </div><!--/.tags-->
            </aside>
        </div><!--/.row-->
    </div><!--/.blog-->
</section><!--/#blog-->
