@model IEnumerable<Sadrnejad.com.Models.Post>

<section id="blog" class="container">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="center">
        <h2>Blogs</h2>
        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="category_Title">Category</span>
                                    <span><i class="fa fa-comment"></i>@Html.DisplayFor(modelItem => item.Categories.Title)</span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-10 blog-content">
                                <a href="#"><img class="img-responsive img-blog" src="images/blog/blog1.jpg" width="100%" alt="" /></a>
                                <h2>@Html.ActionLink(@Html.DisplayFor(modelItem => item.Title).ToString(), "Details", new { id = item.ID })</h2>
                                <h3>@Html.DisplayFor(modelItem => item.ShortDescription)</h3>
                                <a class="btn btn-primary readmore">@Html.ActionLink("Read More..","Details", new { id = item.ID })<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    }
                </div><!--/.blog-item-->

                <ul class="pagination pagination-lg">
                    <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                </ul><!--/.pagination-->
            </div><!--/.col-md-8-->
            <aside class="col-md-4">

                <div class="widget categories">
                    <h3>Categories</h3>
                    <div class="row">
                        <div id="CategoriesDiv" class="col-sm-6">
                        </div>
                    </div>
                </div><!--/.categories-->

                <div class="widget tags">
                    <h3>Tag Cloud</h3>
                    <ul class="tag-cloud">
                        <li><a class="btn btn-xs btn-primary" href="#">Apple</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Barcelona</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Office</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Ipod</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Stock</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Race</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">London</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Football</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Porche</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Gadgets</a></li>
                    </ul>
                </div><!--/.tags-->
            </aside>
        </div><!--/.row-->
    </div>
</section><!--/#blog-->
<script>
    $(document).ready(function () {
        getCategoriesList();
    });
    function getCategoriesList() {
        $.ajax({
            // Get Category PartialView
            url: "@Url.Content("~/Stories/PartialViewCategories")",
            type: 'Get',
            success: function (data) {
                $("#CategoriesDiv").empty().append(data);
            },
            error: function () {
                alert("something seems wrong");
            }
        });
    }
</script>