<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sadrnejad.com</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <!-- core CSS -->
    <link href="@Url.Content("~/Content/themes/corlate/css/font-awesome.min.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/themes/corlate/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/corlate/css/animate.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/corlate/css/prettyPhoto.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/corlate/css/main.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/themes/corlate/css/responsive.css")" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/themes/corlate/images/ico/apple-touch-icon-144-precomposed.png")"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/themes/corlate/images/ico/apple-touch-icon-114-precomposed.png")"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/themes/corlate/images/ico/apple-touch-icon-72-precomposed.png")"/>
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/themes/corlate/images/ico/apple-touch-icon-57-precomposed.png")"/>

    <script src="@Url.Content("~/Content/themes/corlate/js/jquery.js")"></script>
    <script src="@Url.Content("~/Content/themes/corlate/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/corlate/js/jquery.prettyPhoto.js")"></script>
    <script src="@Url.Content("~/Content/themes/corlate/js/jquery.isotope.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/corlate/js/main.js")"></script>
    <script src="@Url.Content("~/Content/themes/corlate/js/wow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
</head><!--/head-->

<body>
    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    <a class="navbar-brand" href="@Url.Content("~")"><img src="@Url.Content("~/Content/themes/corlate/images/logo.png")" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Who I am", "About", "Home")</li>
                        <li>@Html.ActionLink("Curriculum Vitae", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                        <li>@Html.ActionLink("Stories", "Index", "Stories")</li>
                        <li>@Html.ActionLink("Some Pictures", "Contact", "Home")</li>
                        <li class="active">@Html.ActionLink("My Contact", "Contact", "Home")</li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>                   
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <div>
        @RenderBody()
    </div>

    <footer id="footer" class="midnight-blue">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    &copy; 2015 Arash Sadrnejad All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("Scripts", required: false)
</body>
</html>
